In [2]:
import pandas as pd

In [3]:
eq_df = pd.read_csv('../oklahoma_earthquakes_largefiles/sql_export/ok_eq_all.csv',  low_memory=False)

In [4]:
eq_df["year"] = eq_df.date.apply(lambda x: x[0:4])
eq_df

,id,time,mag,magtype,cdi,place,status,latitude,longitude,depth,date,year
0,us2000iz6u,1546166814510,2.2,mb_lg,NaN,"6 km ESE of Cleo Springs, Oklahoma",reviewed,36.3818,-98.3804,6.01,2018-12-30 10:46:54.51,2018
1,us2000iz51,1546159833730,2.0,mb_lg,NaN,"5 km ESE of Cleo Springs, Oklahoma",reviewed,36.3917,-98.3808,6.28,2018-12-30 08:50:33.73,2018
2,us2000iz4w,1546158498840,2.2,ml,NaN,"13 km NNW of Pawnee, Oklahoma",reviewed,36.4443,-96.8762,5.36,2018-12-30 08:28:18.84,2018
3,us2000iyvs,1546073324730,2.5,mb_lg,3.3,"5 km WSW of Arcadia, Oklahoma",reviewed,35.6547,-97.3898,5.00,2018-12-29 08:48:44.73,2018
4,us2000iyvq,1546073222930,2.2,mb_lg,NaN,"6 km W of Arcadia, Oklahoma",reviewed,35.6747,-97.3990,7.42,2018-12-29 08:47:02.93,2018
...,...,...,...,...,...,...,...,...,...,...,...,...
20645,usp000er2d,1155733959120,2.6,md,NaN,"8 km SSW of Katie, Oklahoma",reviewed,34.5080,-97.3720,5.00,2006-08-16 13:12:39.12,2006
20646,usp000eqk4,1155116510940,2.9,md,NaN,"1 km NW of Katie, Oklahoma",reviewed,34.5890,-97.3680,5.00,2006-08-09 09:41:50.94,2006
20647,usp000eqgx,1155059763550,2.2,md,NaN,"12 km SW of Maysville, Oklahoma",reviewed,34.7290,-97.4900,5.00,2006-08-08 17:56:03.55,2006
20648,usp000edrz,1144262783140,3.0,mblg,3.8,"12 km SSW of Lone Grove, Oklahoma",reviewed,34.0690,-97.3140,5.00,2006-04-05 18:46:23.14,2006
20649,usp000ec6y,1142411425860,3.0,md,NaN,"4 km W of Horntown, Oklahoma",reviewed,35.0910,-96.3000,5.00,2006-03-15 08:30:25.86,2006

In [7]:
del eq_df["magtype"]
eq_df.head()

,id,time,mag,cdi,place,status,latitude,longitude,depth,date,year
0,us2000iz6u,1546166814510,2.2,NaN,"6 km ESE of Cleo Springs, Oklahoma",reviewed,36.3818,-98.3804,6.01,2018-12-30 10:46:54.51,2018
1,us2000iz51,1546159833730,2.0,NaN,"5 km ESE of Cleo Springs, Oklahoma",reviewed,36.3917,-98.3808,6.28,2018-12-30 08:50:33.73,2018
2,us2000iz4w,1546158498840,2.2,NaN,"13 km NNW of Pawnee, Oklahoma",reviewed,36.4443,-96.8762,5.36,2018-12-30 08:28:18.84,2018
3,us2000iyvs,1546073324730,2.5,3.3,"5 km WSW of Arcadia, Oklahoma",reviewed,35.6547,-97.3898,5.00,2018-12-29 08:48:44.73,2018
4,us2000iyvq,1546073222930,2.2,NaN,"6 km W of Arcadia, Oklahoma",reviewed,35.6747,-97.3990,7.42,2018-12-29 08:47:02.93,2018

In [8]:
del eq_df["cdi"]
eq_df.head()

,id,time,mag,place,status,latitude,longitude,depth,date,year
0,us2000iz6u,1546166814510,2.2,"6 km ESE of Cleo Springs, Oklahoma",reviewed,36.3818,-98.3804,6.01,2018-12-30 10:46:54.51,2018
1,us2000iz51,1546159833730,2.0,"5 km ESE of Cleo Springs, Oklahoma",reviewed,36.3917,-98.3808,6.28,2018-12-30 08:50:33.73,2018
2,us2000iz4w,1546158498840,2.2,"13 km NNW of Pawnee, Oklahoma",reviewed,36.4443,-96.8762,5.36,2018-12-30 08:28:18.84,2018
3,us2000iyvs,1546073324730,2.5,"5 km WSW of Arcadia, Oklahoma",reviewed,35.6547,-97.3898,5.00,2018-12-29 08:48:44.73,2018
4,us2000iyvq,1546073222930,2.2,"6 km W of Arcadia, Oklahoma",reviewed,35.6747,-97.3990,7.42,2018-12-29 08:47:02.93,2018

In [9]:
del eq_df["status"]
eq_df.head()

,id,time,mag,place,latitude,longitude,depth,date,year
0,us2000iz6u,1546166814510,2.2,"6 km ESE of Cleo Springs, Oklahoma",36.3818,-98.3804,6.01,2018-12-30 10:46:54.51,2018
1,us2000iz51,1546159833730,2.0,"5 km ESE of Cleo Springs, Oklahoma",36.3917,-98.3808,6.28,2018-12-30 08:50:33.73,2018
2,us2000iz4w,1546158498840,2.2,"13 km NNW of Pawnee, Oklahoma",36.4443,-96.8762,5.36,2018-12-30 08:28:18.84,2018
3,us2000iyvs,1546073324730,2.5,"5 km WSW of Arcadia, Oklahoma",35.6547,-97.3898,5.00,2018-12-29 08:48:44.73,2018
4,us2000iyvq,1546073222930,2.2,"6 km W of Arcadia, Oklahoma",35.6747,-97.3990,7.42,2018-12-29 08:47:02.93,2018

In [10]:
del eq_df["date"]
eq_df.head()

,id,time,mag,place,latitude,longitude,depth,year
0,us2000iz6u,1546166814510,2.2,"6 km ESE of Cleo Springs, Oklahoma",36.3818,-98.3804,6.01,2018
1,us2000iz51,1546159833730,2.0,"5 km ESE of Cleo Springs, Oklahoma",36.3917,-98.3808,6.28,2018
2,us2000iz4w,1546158498840,2.2,"13 km NNW of Pawnee, Oklahoma",36.4443,-96.8762,5.36,2018
3,us2000iyvs,1546073324730,2.5,"5 km WSW of Arcadia, Oklahoma",35.6547,-97.3898,5.00,2018
4,us2000iyvq,1546073222930,2.2,"6 km W of Arcadia, Oklahoma",35.6747,-97.3990,7.42,2018

In [11]:
eq_df

,id,time,mag,place,latitude,longitude,depth,year
0,us2000iz6u,1546166814510,2.2,"6 km ESE of Cleo Springs, Oklahoma",36.3818,-98.3804,6.01,2018
1,us2000iz51,1546159833730,2.0,"5 km ESE of Cleo Springs, Oklahoma",36.3917,-98.3808,6.28,2018
2,us2000iz4w,1546158498840,2.2,"13 km NNW of Pawnee, Oklahoma",36.4443,-96.8762,5.36,2018
3,us2000iyvs,1546073324730,2.5,"5 km WSW of Arcadia, Oklahoma",35.6547,-97.3898,5.00,2018
4,us2000iyvq,1546073222930,2.2,"6 km W of Arcadia, Oklahoma",35.6747,-97.3990,7.42,2018
...,...,...,...,...,...,...,...,...
20645,usp000er2d,1155733959120,2.6,"8 km SSW of Katie, Oklahoma",34.5080,-97.3720,5.00,2006
20646,usp000eqk4,1155116510940,2.9,"1 km NW of Katie, Oklahoma",34.5890,-97.3680,5.00,2006
20647,usp000eqgx,1155059763550,2.2,"12 km SW of Maysville, Oklahoma",34.7290,-97.4900,5.00,2006
20648,usp000edrz,1144262783140,3.0,"12 km SSW of Lone Grove, Oklahoma",34.0690,-97.3140,5.00,2006
20649,usp000ec6y,1142411425860,3.0,"4 km W of Horntown, Oklahoma",35.0910,-96.3000,5.00,2006

In [12]:
eq_df = eq_df[eq_df["mag"] >= 3]
eq_df

,id,time,mag,place,latitude,longitude,depth,year
5,us2000iytp,1546056357890,3.0,"3 km ESE of Hennessey, Oklahoma",36.0998,-97.8674,5.00,2018
7,us2000iym1,1546000348980,3.1,"5 km ESE of Cleo Springs, Oklahoma",36.3858,-98.3860,5.00,2018
11,us2000iwfw,1545520825020,3.1,"0 km SE of Wakita, Oklahoma",36.8790,-97.9152,7.21,2018
17,us2000iud8,1545032568230,3.0,"16 km SSE of Waynoka, Oklahoma",36.4566,-98.7897,5.00,2018
19,us2000itxh,1544909464050,3.0,"5 km WNW of Lucien, Oklahoma",36.2856,-97.5158,4.86,2018
...,...,...,...,...,...,...,...,...
20629,usp000g929,1213052387120,3.1,"9 km NNE of Earlsboro, Oklahoma",35.3460,-96.7670,5.00,2008
20637,usp000fcw2,1180299802110,3.2,"9 km SW of Hanna, Oklahoma",35.1490,-95.9760,5.00,2007
20644,usp000eumb,1160172796780,3.5,"4 km SSW of Cornish, Oklahoma",34.1220,-97.6250,5.00,2006
20648,usp000edrz,1144262783140,3.0,"12 km SSW of Lone Grove, Oklahoma",34.0690,-97.3140,5.00,2006
20649,usp000ec6y,1142411425860,3.0,"4 km W of Horntown, Oklahoma",35.0910,-96.3000,5.00,2006

In [13]:
del eq_df["id"]
eq_df.head()

,time,mag,place,latitude,longitude,depth,year
5,1546056357890,3.0,"3 km ESE of Hennessey, Oklahoma",36.0998,-97.8674,5.00,2018
7,1546000348980,3.1,"5 km ESE of Cleo Springs, Oklahoma",36.3858,-98.3860,5.00,2018
11,1545520825020,3.1,"0 km SE of Wakita, Oklahoma",36.8790,-97.9152,7.21,2018
17,1545032568230,3.0,"16 km SSE of Waynoka, Oklahoma",36.4566,-98.7897,5.00,2018
19,1544909464050,3.0,"5 km WNW of Lucien, Oklahoma",36.2856,-97.5158,4.86,2018

In [14]:
del eq_df["time"]
eq_df.head()

    mag                               place  latitude  longitude  depth  year
5   3.0     3 km ESE of Hennessey, Oklahoma   36.0998   -97.8674   5.00  2018
7   3.1  5 km ESE of Cleo Springs, Oklahoma   36.3858   -98.3860   5.00  2018
11  3.1         0 km SE of Wakita, Oklahoma   36.8790   -97.9152   7.21  2018
17  3.0      16 km SSE of Waynoka, Oklahoma   36.4566   -98.7897   5.00  2018
19  3.0        5 km WNW of Lucien, Oklahoma   36.2856   -97.5158   4.86  2018

In [15]:
del eq_df["depth"]
eq_df.head()

    mag                               place  latitude  longitude  year
5   3.0     3 km ESE of Hennessey, Oklahoma   36.0998   -97.8674  2018
7   3.1  5 km ESE of Cleo Springs, Oklahoma   36.3858   -98.3860  2018
11  3.1         0 km SE of Wakita, Oklahoma   36.8790   -97.9152  2018
17  3.0      16 km SSE of Waynoka, Oklahoma   36.4566   -98.7897  2018
19  3.0        5 km WNW of Lucien, Oklahoma   36.2856   -97.5158  2018

In [16]:
eq_df.to_csv("/Users/curtissmith/Projects/oklahoma_earthquakes_largefiles/python_exports/eq_for_figs.csv", index = False)